@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?ri9hrx');
	src:url('fonts/icomoon.eot?ri9hrx#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?ri9hrx') format('truetype'),
		url('fonts/icomoon.woff?ri9hrx') format('woff'),
		url('fonts/icomoon.svg?ri9hrx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icomoon-"], [class*=" icomoon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icomoon-medical:before {
	content: "\e80c";
}
.icomoon-total-amount2:before {
	content: "\e802";
}
.icomoon-rejection:before {
	content: "\e803";
}
.icomoon-priority-amount:before {
	content: "\e804";
}
.icomoon-total-amount:before {
	content: "\e805";
}
.icomoon-warning2:before {
	content: "\e806";
}
.icomoon-remider-date2:before {
	content: "\e807";
}
.icomoon-reminder-date1:before {
	content: "\e808";
}
.icomoon-record-highlight:before {
	content: "\e809";
}
.icomoon-arrow-transfer2:before {
	content: "\e80a";
}
.icomoon-arrow-transfer1:before {
	content: "\e80b";
}
.icomoon-key2:before {
	content: "\e800";
}
.icomoon-user2:before {
	content: "\e801";
}
.icomoon-join:before {
	content: "\e100";
}
.icomoon-unlock:before {
	content: "\e101";
}
.icomoon-lock2:before {
	content: "\e102";
}
.icomoon-post-pinning:before {
	content: "\e103";
}
.icomoon-advance-post:before {
	content: "\e104";
}
.icomoon-feed:before {
	content: "\e105";
}
.icomoon-custom-mail:before {
	content: "\e106";
}
.icomoon-marketplace:before {
	content: "\e107";
}
.icomoon-mentors:before {
	content: "\e108";
}
.icomoon-student-news:before {
	content: "\e109";
}
.icomoon-briefcase1:before {
	content: "\e10a";
}
.icomoon-customgroups:before {
	content: "\e10b";
}
.icomoon-phone:before {
	content: "\e10c";
}
.icomoon-mobile:before {
	content: "\e10d";
}
.icomoon-mouse:before {
	content: "\e10e";
}
.icomoon-directions:before {
	content: "\e10f";
}
.icomoon-mail:before {
	content: "\e110";
}
.icomoon-paperplane:before {
	content: "\e111";
}
.icomoon-pencil:before {
	content: "\e112";
}
.icomoon-feather:before {
	content: "\e113";
}
.icomoon-paperclip:before {
	content: "\e114";
}
.icomoon-drawer:before {
	content: "\e115";
}
.icomoon-reply:before {
	content: "\e116";
}
.icomoon-reply-all:before {
	content: "\e117";
}
.icomoon-forward:before {
	content: "\e118";
}
.icomoon-user:before {
	content: "\e119";
}
.icomoon-users:before {
	content: "\e11a";
}
.icomoon-user-add:before {
	content: "\e11b";
}
.icomoon-vcard:before {
	content: "\e11c";
}
.icomoon-export:before {
	content: "\e11d";
}
.icomoon-location:before {
	content: "\e11e";
}
.icomoon-map:before {
	content: "\e11f";
}
.icomoon-compass:before {
	content: "\e120";
}
.icomoon-location2:before {
	content: "\e121";
}
.icomoon-target:before {
	content: "\e122";
}
.icomoon-share:before {
	content: "\e123";
}
.icomoon-sharable:before {
	content: "\e124";
}
.icomoon-heart:before {
	content: "\e125";
}
.icomoon-heart2:before {
	content: "\e126";
}
.icomoon-star:before {
	content: "\e127";
}
.icomoon-star2:before {
	content: "\e128";
}
.icomoon-thumbsup:before {
	content: "\e129";
}
.icomoon-thumbsdown:before {
	content: "\e12a";
}
.icomoon-chat:before {
	content: "\e12b";
}
.icomoon-comment:before {
	content: "\e12c";
}
.icomoon-quote:before {
	content: "\e12d";
}
.icomoon-house:before {
	content: "\e12e";
}
.icomoon-popup:before {
	content: "\e12f";
}
.icomoon-search:before {
	content: "\e130";
}
.icomoon-flashlight:before {
	content: "\e131";
}
.icomoon-printer:before {
	content: "\e132";
}
.icomoon-bell:before {
	content: "\e133";
}
.icomoon-link:before {
	content: "\e134";
}
.icomoon-flag:before {
	content: "\e135";
}
.icomoon-cog:before {
	content: "\e136";
}
.icomoon-tools:before {
	content: "\e137";
}
.icomoon-trophy:before {
	content: "\e138";
}
.icomoon-tag:before {
	content: "\e139";
}
.icomoon-camera:before {
	content: "\e13a";
}
.icomoon-megaphone:before {
	content: "\e13b";
}
.icomoon-moon:before {
	content: "\e13c";
}
.icomoon-palette:before {
	content: "\e13d";
}
.icomoon-leaf:before {
	content: "\e13e";
}
.icomoon-music:before {
	content: "\e13f";
}
.icomoon-music2:before {
	content: "\e140";
}
.icomoon-new:before {
	content: "\e141";
}
.icomoon-graduation:before {
	content: "\e142";
}
.icomoon-book:before {
	content: "\e143";
}
.icomoon-newspaper:before {
	content: "\e144";
}
.icomoon-bag:before {
	content: "\e145";
}
.icomoon-airplane:before {
	content: "\e146";
}
.icomoon-lifebuoy:before {
	content: "\e147";
}
.icomoon-eye:before {
	content: "\e148";
}
.icomoon-clock:before {
	content: "\e149";
}
.icomoon-microphone:before {
	content: "\e14a";
}
.icomoon-calendar:before {
	content: "\e14b";
}
.icomoon-bolt:before {
	content: "\e14c";
}
.icomoon-thunder:before {
	content: "\e14d";
}
.icomoon-droplet:before {
	content: "\e14e";
}
.icomoon-cd:before {
	content: "\e14f";
}
.icomoon-briefcase:before {
	content: "\e150";
}
.icomoon-air:before {
	content: "\e151";
}
.icomoon-hourglass:before {
	content: "\e152";
}
.icomoon-gauge:before {
	content: "\e153";
}
.icomoon-language:before {
	content: "\e154";
}
.icomoon-network:before {
	content: "\e155";
}
.icomoon-key:before {
	content: "\e156";
}
.icomoon-battery:before {
	content: "\e157";
}
.icomoon-bucket:before {
	content: "\e158";
}
.icomoon-magnet:before {
	content: "\e159";
}
.icomoon-drive:before {
	content: "\e15a";
}
.icomoon-cup:before {
	content: "\e15b";
}
.icomoon-rocket:before {
	content: "\e15c";
}
.icomoon-brush:before {
	content: "\e15d";
}
.icomoon-suitcase:before {
	content: "\e15e";
}
.icomoon-cone:before {
	content: "\e15f";
}
.icomoon-earth:before {
	content: "\e160";
}
.icomoon-keyboard:before {
	content: "\e161";
}
.icomoon-browser:before {
	content: "\e162";
}
.icomoon-publish:before {
	content: "\e163";
}
.icomoon-progress-3:before {
	content: "\e164";
}
.icomoon-progress-2:before {
	content: "\e165";
}
.icomoon-brogress-1:before {
	content: "\e166";
}
.icomoon-progress-0:before {
	content: "\e167";
}
.icomoon-sun:before {
	content: "\e168";
}
.icomoon-sun2:before {
	content: "\e169";
}
.icomoon-adjust:before {
	content: "\e16a";
}
.icomoon-code:before {
	content: "\e16b";
}
.icomoon-screen:before {
	content: "\e16c";
}
.icomoon-infinity:before {
	content: "\e16d";
}
.icomoon-light-bulb:before {
	content: "\e16e";
}
.icomoon-creditcard:before {
	content: "\e16f";
}
.icomoon-database:before {
	content: "\e170";
}
.icomoon-voicemail:before {
	content: "\e171";
}
.icomoon-clipboard:before {
	content: "\e172";
}
.icomoon-cart:before {
	content: "\e173";
}
.icomoon-box:before {
	content: "\e174";
}
.icomoon-ticket:before {
	content: "\e175";
}
.icomoon-rss:before {
	content: "\e176";
}
.icomoon-signal:before {
	content: "\e177";
}
.icomoon-thermometer:before {
	content: "\e178";
}
.icomoon-droplets:before {
	content: "\e179";
}
.icomoon-uniE66E:before {
	content: "\e17a";
}
.icomoon-statistics:before {
	content: "\e17b";
}
.icomoon-pie:before {
	content: "\e17c";
}
.icomoon-bars:before {
	content: "\e17d";
}
.icomoon-graph:before {
	content: "\e17e";
}
.icomoon-lock:before {
	content: "\e17f";
}
.icomoon-lock-open:before {
	content: "\e180";
}
.icomoon-logout:before {
	content: "\e181";
}
.icomoon-login:before {
	content: "\e182";
}
.icomoon-checkmark:before {
	content: "\e183";
}
.icomoon-cross:before {
	content: "\e184";
}
.icomoon-minus:before {
	content: "\e185";
}
.icomoon-plus:before {
	content: "\e186";
}
.icomoon-cross2:before {
	content: "\e187";
}
.icomoon-minus2:before {
	content: "\e188";
}
.icomoon-plus2:before {
	content: "\e189";
}
.icomoon-cross3:before {
	content: "\e18a";
}
.icomoon-minus3:before {
	content: "\e18b";
}
.icomoon-plus3:before {
	content: "\e18c";
}
.icomoon-erase:before {
	content: "\e18d";
}
.icomoon-blocked:before {
	content: "\e18e";
}
.icomoon-info:before {
	content: "\e18f";
}
.icomoon-info2:before {
	content: "\e190";
}
.icomoon-question:before {
	content: "\e191";
}
.icomoon-help:before {
	content: "\e192";
}
.icomoon-warning:before {
	content: "\e193";
}
.icomoon-cycle:before {
	content: "\e194";
}
.icomoon-cw:before {
	content: "\e195";
}
.icomoon-ccw:before {
	content: "\e196";
}
.icomoon-shuffle:before {
	content: "\e197";
}
.icomoon-arrow:before {
	content: "\e198";
}
.icomoon-arrow2:before {
	content: "\e199";
}
.icomoon-retweet:before {
	content: "\e19a";
}
.icomoon-loop:before {
	content: "\e19b";
}
.icomoon-history:before {
	content: "\e19c";
}
.icomoon-back:before {
	content: "\e19d";
}
.icomoon-switch:before {
	content: "\e19e";
}
.icomoon-list:before {
	content: "\e19f";
}
.icomoon-add-to-list:before {
	content: "\e1a0";
}
.icomoon-layout:before {
	content: "\e1a1";
}
.icomoon-list2:before {
	content: "\e1a2";
}
.icomoon-text:before {
	content: "\e1a3";
}
.icomoon-text2:before {
	content: "\e1a4";
}
.icomoon-document:before {
	content: "\e1a5";
}
.icomoon-docs:before {
	content: "\e1a6";
}
.icomoon-landscape:before {
	content: "\e1a7";
}
.icomoon-pictures:before {
	content: "\e1a8";
}
.icomoon-video:before {
	content: "\e1a9";
}
.icomoon-music3:before {
	content: "\e1aa";
}
.icomoon-folder:before {
	content: "\e1ab";
}
.icomoon-archive:before {
	content: "\e1ac";
}
.icomoon-trash:before {
	content: "\e1ad";
}
.icomoon-upload:before {
	content: "\e1ae";
}
.icomoon-download:before {
	content: "\e1af";
}
.icomoon-disk:before {
	content: "\e1b0";
}
.icomoon-install:before {
	content: "\e1b1";
}
.icomoon-cloud:before {
	content: "\e1b2";
}
.icomoon-upload2:before {
	content: "\e1b3";
}
.icomoon-bookmark:before {
	content: "\e1b4";
}
.icomoon-bookmarks:before {
	content: "\e1b5";
}
.icomoon-book2:before {
	content: "\e1b6";
}
.icomoon-play:before {
	content: "\e1b7";
}
.icomoon-pause:before {
	content: "\e1b8";
}
.icomoon-record:before {
	content: "\e1b9";
}
.icomoon-stop:before {
	content: "\e1ba";
}
.icomoon-next:before {
	content: "\e1bb";
}
.icomoon-previous:before {
	content: "\e1bc";
}
.icomoon-first:before {
	content: "\e1bd";
}
.icomoon-last:before {
	content: "\e1be";
}
.icomoon-resize-enlarge:before {
	content: "\e1bf";
}
.icomoon-resize-shrink:before {
	content: "\e1c0";
}
.icomoon-volume:before {
	content: "\e1c1";
}
.icomoon-sound:before {
	content: "\e1c2";
}
.icomoon-mute:before {
	content: "\e1c3";
}
.icomoon-flow-cascade:before {
	content: "\e1c4";
}
.icomoon-flow-branch:before {
	content: "\e1c5";
}
.icomoon-flow-tree:before {
	content: "\e1c6";
}
.icomoon-flow-line:before {
	content: "\e1c7";
}
.icomoon-flow-parallel:before {
	content: "\e1c8";
}
.icomoon-arrow-left:before {
	content: "\e1c9";
}
.icomoon-arrow-down:before {
	content: "\e1ca";
}
.icomoon-arrow-up-upload:before {
	content: "\e1cb";
}
.icomoon-arrow-right:before {
	content: "\e1cc";
}
.icomoon-arrow-left2:before {
	content: "\e1cd";
}
.icomoon-arrow-down2:before {
	content: "\e1ce";
}
.icomoon-arrow-up:before {
	content: "\e1cf";
}
.icomoon-arrow-right2:before {
	content: "\e1d0";
}
.icomoon-arrow-left3:before {
	content: "\e1d1";
}
.icomoon-arrow-down3:before {
	content: "\e1d2";
}
.icomoon-arrow-up2:before {
	content: "\e1d3";
}
.icomoon-arrow-right3:before {
	content: "\e1d4";
}
.icomoon-arrow-left4:before {
	content: "\e1d5";
}
.icomoon-arrow-down4:before {
	content: "\e1d6";
}
.icomoon-arrow-up3:before {
	content: "\e1d7";
}
.icomoon-arrow-right4:before {
	content: "\e1d8";
}
.icomoon-arrow-left5:before {
	content: "\e1d9";
}
.icomoon-arrow-down5:before {
	content: "\e1da";
}
.icomoon-arrow-up4:before {
	content: "\e1db";
}
.icomoon-arrow-right5:before {
	content: "\e1dc";
}
.icomoon-arrow-left6:before {
	content: "\e1dd";
}
.icomoon-arrow-down6:before {
	content: "\e1de";
}
.icomoon-arrow-up5:before {
	content: "\e1df";
}
.icomoon-arrow-right6:before {
	content: "\e1e0";
}
.icomoon-arrow-left7:before {
	content: "\e1e1";
}
.icomoon-arrow-down7:before {
	content: "\e1e2";
}
.icomoon-arrow-up6:before {
	content: "\e1e3";
}
.icomoon-uniE6D8:before {
	content: "\e1e4";
}
.icomoon-arrow-left8:before {
	content: "\e1e5";
}
.icomoon-arrow-down8:before {
	content: "\e1e6";
}
.icomoon-arrow-up7:before {
	content: "\e1e7";
}
.icomoon-arrow-right7:before {
	content: "\e1e8";
}
.icomoon-menu:before {
	content: "\e1e9";
}
.icomoon-ellipsis:before {
	content: "\e1ea";
}
.icomoon-dots:before {
	content: "\e1eb";
}
.icomoon-dot:before {
	content: "\e1ec";
}
.icomoon-cc:before {
	content: "\e1ed";
}
.icomoon-cc-by:before {
	content: "\e1ee";
}
.icomoon-cc-nc:before {
	content: "\e1ef";
}
.icomoon-cc-nc-eu:before {
	content: "\e1f0";
}
.icomoon-cc-nc-jp:before {
	content: "\e1f1";
}
.icomoon-cc-sa:before {
	content: "\e1f2";
}
.icomoon-cc-nd:before {
	content: "\e1f3";
}
.icomoon-cc-pd:before {
	content: "\e1f4";
}
.icomoon-cc-zero:before {
	content: "\e1f5";
}
.icomoon-cc-share:before {
	content: "\e1f6";
}
.icomoon-cc-share2:before {
	content: "\e1f7";
}
.icomoon-danielbruce:before {
	content: "\e1f8";
}
.icomoon-danielbruce2:before {
	content: "\e1f9";
}
.icomoon-github:before {
	content: "\e1fa";
}
.icomoon-github2:before {
	content: "\e1fb";
}
.icomoon-flickr:before {
	content: "\e1fc";
}
.icomoon-flickr2:before {
	content: "\e1fd";
}
.icomoon-vimeo:before {
	content: "\e1fe";
}
.icomoon-vimeo2:before {
	content: "\e1ff";
}
.icomoon-twitter:before {
	content: "\e200";
}
.icomoon-twitter2:before {
	content: "\e201";
}
.icomoon-facebook:before {
	content: "\e202";
}
.icomoon-facebook2:before {
	content: "\e203";
}
.icomoon-facebook3:before {
	content: "\e204";
}
.icomoon-googleplus:before {
	content: "\e205";
}
.icomoon-googleplus2:before {
	content: "\e206";
}
.icomoon-pinterest:before {
	content: "\e207";
}
.icomoon-pinterest2:before {
	content: "\e208";
}
.icomoon-tumblr:before {
	content: "\e209";
}
.icomoon-tumblr2:before {
	content: "\e20a";
}
.icomoon-linkedin:before {
	content: "\e20b";
}
.icomoon-linkedin2:before {
	content: "\e20c";
}
.icomoon-dribbble:before {
	content: "\e20d";
}
.icomoon-dribbble2:before {
	content: "\e20e";
}
.icomoon-stumbleupon:before {
	content: "\e20f";
}
.icomoon-stumbleupon2:before {
	content: "\e210";
}
.icomoon-lastfm:before {
	content: "\e211";
}
.icomoon-lastfm2:before {
	content: "\e212";
}
.icomoon-rdio:before {
	content: "\e213";
}
.icomoon-rdio2:before {
	content: "\e214";
}
.icomoon-spotify:before {
	content: "\e215";
}
.icomoon-spotify2:before {
	content: "\e216";
}
.icomoon-qq:before {
	content: "\e217";
}
.icomoon-instagram:before {
	content: "\e218";
}
.icomoon-dropbox:before {
	content: "\e219";
}
.icomoon-evernote:before {
	content: "\e21a";
}
.icomoon-flattr:before {
	content: "\e21b";
}
.icomoon-skype:before {
	content: "\e21c";
}
.icomoon-skype2:before {
	content: "\e21d";
}
.icomoon-renren:before {
	content: "\e21e";
}
.icomoon-sina-weibo:before {
	content: "\e21f";
}
.icomoon-paypal:before {
	content: "\e220";
}
.icomoon-picasa:before {
	content: "\e221";
}
.icomoon-soundcloud:before {
	content: "\e222";
}
.icomoon-mixi:before {
	content: "\e223";
}
.icomoon-behance:before {
	content: "\e224";
}
.icomoon-circles:before {
	content: "\e225";
}
.icomoon-vk:before {
	content: "\e226";
}
.icomoon-smashing:before {
	content: "\e227";
}
.icomoon-stumbleupon3:before {
	content: "\e228";
}
.icomoon-library:before {
	content: "\e229";
}
.icomoon-calendar2:before {
	content: "\e22a";
}

